<div id="reminder">

    You do not have an adblocker installed. Your browsing experience could be improved.

    <a href="">Why You Should Use An Adblocker.</a>

    <a href="">Install an adblocker in your browser</a>

    <a href="">Block advertisements across your home network.</a>
</div>

<script src="/clever_ads.js" type="text/javascript"></script>
<script type="text/javascript">
    if(document.getElementById('RZfrHsidDwbG')){
        // if type is mobile

        // if type is desktop

    } else {<br />

        console.log("The user is blocking ads and living in peace.");
    }
</script>